/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
3. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...) 
 */

/* CLASS CHUNG */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.clear {
    clear: both;
    /* overflow  */
}

.text-white {
    color: white !important;
    /* important để cho nó mạnh nhất, cho chữ màu trắng cho hết trang */
}

.text-black {
    color: black !important;
    /* important để cho nó mạnh nhất, cho chữ màu trắng cho hết trang */
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.33333%;
}

.pull-right {
    float: right !important;
}



.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    /* để padding Buy không đụng vào place-Desc */
    margin-top: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: grey;
}

/*--------------------------------------------------------------------------*/


html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;

}

/* -----BEGIN: HEADER----- */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    z-index: 1;
    /* cách để không bị phần slider chiếm header (độ sâu)  */
}

.nav {
    display: inline-block;
}

.nav,
.subnav {
    list-style-type: none;

}

.nav>li {
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

.nav>li>a {
    color: white;
}

.nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

.nav li:hover .subnav {
    display: block;
}

.nav>li:hover>a {
    color: black;
    background-color: grey;
}

.nav .subnav li:hover a {
    color: black;
    background-color: grey;
}

.nav .nav-arrow-down {
    font-size: 15px;
}

.header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.header .mobile-menu-btn,
.header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
    /* Đổi trỏ chuột thành ngón tay */
}

.header .mobile-menu-btn:hover {
    background-color: #ccc;
}

.header .mobile-menu-btn:hover .menu-icon {
    color: black;
}

.header .search-btn:hover {
    background-color: red;
}

.header .menu-icon,
.header .search-icon {
    color: white;
    line-height: 46px;
    font-size: 20px;
}

/* -----END: HEADER-----*/
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* -----BEGIN: SLIDER----- */
.slider {
    position: relative;
    top: 0;
    padding-top: 50%;
    background: url('../img/slider/slider2.jpg') top center/ cover no-repeat
}

.slider .text-content {
    position: absolute;
    color: #292929;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

.slider .text-heading {
    font-weight: 600;
    font-size: 24px;

}

.slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

/* -----END: SLIDER-----*/
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* -----BEGIN: CONTENT----- */
.content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

.content .section-heading {
    color: #343a40;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    /* làm chữ cách nhau ra */
}

.content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* làm cho chữ nghiêng */
    opacity: 0.6;
    /* làm cho chữ mờ đi */
}

.content .about-text {
    color: #343a40;
    font-size: 14px;
    margin-top: 25px;
    text-align: justify;
    /* làm cho đoạn văn căn đều 2 bên */
    line-height: 1.4;
    /* làm cho dòng đoạn văn tách nhau chiều dài*/
    font-weight: 400;
    letter-spacing: 1px;
}

.content .member-list {
    margin-top: 32px;
}

.content .member-name {
    font-size: 14px;
    color: #343a40;
    font-weight: 400;
    letter-spacing: 1px;
}

.content .member-img {
    margin-top: 15px;
    width: 154px;
    /* kích thước hình  */
    border-radius: 4px;
    /* làm bo tròn hình ảnh  */
}

/* -----END: CONTENT----- */
/* --------------------- */

/* OUR BLOG*/
.tour-section {
    background-color: #f5d1d1;
}

.tickets-list {
    background-color: white;
    list-style: none;
    /* bỏ dấu chấm kế bên thẻ ul */
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    /* đường viền đen */
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    /* canh giữa từ trái sang */
    line-height: 24px;
    /*  canh giữa từ trên xuống */
    margin-top: -3px;
    /* cho nó vào giữa thẻ li */
}

/* -----END: OUR BLOG----- */
/* --------------------- */

/* PLACES */
.places-list {
    margin-top: 16px;
}


.place-img {
    width: 100%;
    height: 160px;
    /* chiều rộng giúp cho hình nằm trong thẻ cha */
    display: block;
    /* cho thẻ img với thẻ div class: place-body dính lại với nhau */
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: white;
    font-size: 15px;
    padding: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    /* để padding Buy không đụng vào place-Desc */
    margin-top: 15px;
}

.btn:hover {
    background-color: grey;
}

/* -----END: PLACES----- */
/* --------------------- */

/* FORM READ MORE */
.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    /* căn chỉnh dc kích thước */
    align-items: center;
    /* cho thằng con chiều cao nằm giữa */
    justify-content: center;
    /* cho thằng con chiều ngang nằm giữa */
}

.modal-container {
    background: white;
    width: 900px;
    min-height: 200px;
    position: relative;
    /* chiều ngang tối thiểu */
    animation: modalFadeIn ease .6s;
    /* hiệu ứng trượt của container */
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    /* giúp ko còn khoảng hở  */
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    opacity: 0.8;
    /* làm mờ icon */
}

.modal-close:hover {
    background-color: red;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

.buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    /* làm cho chữ đậm */
    padding: 15px;
    cursor: pointer;
}

.buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

/* END: FORM READ MORE */

/* CONTACT */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info [class*="ti-"] {
    width: 30px;
    display: inline-block;

}

.contact-info a {
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section iframe {
    width: 100%;
}

/* footer */
.footer {
    padding: 64px 16px;
    text-align: center;
}

.footer .socials-list {
    font-size: 24px;
}

.footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}


.footer .copyright a:hover,
.footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}


.footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* CSS JAVA SCRIPT */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px)
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

